passlib==1.7.4
authlib==1.6.0
cloudinary==1.44.0
fastapi==0.115.12
jose==1.0.0
psycopg2==2.9.10
psycopg2_binary==2.9.10
pydantic==2.11.5
python-dotenv==1.1.0
itsdangerous==2.2.0
httpx==0.28.1
Authlib==1.6.0
fastapi==0.115.12
asyncpg==0.30.0
python_jose==3.4.0
starlette==0.46.2
supabase==2.15.2
uvicorn==0.34.2
